<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>UserMiddle</filter-name>
    <filter-class>Middlewares.UserJwtVerification</filter-class>
  </filter>
  <filter>
    <filter-name>EmployeeMiddle</filter-name>
    <filter-class>Middlewares.EmployeeJwtVerification</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserMiddle</filter-name>
    <url-pattern>/User/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EmployeeMiddle</filter-name>
    <url-pattern>/Employee/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>RestApp.main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>RestApp.UserApi.User</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAuth</servlet-name>
    <servlet-class>RestApp.UserApi.UserAuth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeAuth</servlet-name>
    <servlet-class>RestApp.Employee.EmployeeAuth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeComplaints</servlet-name>
    <servlet-class>RestApp.Employee.EmployeeComplaints</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTransactions</servlet-name>
    <servlet-class>RestApp.UserApi.UserTransactions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTransactionComplaints</servlet-name>
    <servlet-class>RestApp.UserApi.UserTransactionComplaints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuth</servlet-name>
    <url-pattern>/UserAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTransactions</servlet-name>
    <url-pattern>/User/Transactions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTransactionComplaints</servlet-name>
    <url-pattern>/User/Transactions/Complaints</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeAuth</servlet-name>
    <url-pattern>/EmployeeAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeComplaints</servlet-name>
    <url-pattern>/Employee/Complaints</url-pattern>
  </servlet-mapping>
</web-app>
